#maia-signature {
    clear: both;
    margin: 120px auto 0;
    max-width: 978px;
    min-height: 4px
}

#maia-signature:after, #maia-signature:before {
    content: "";
    float: right;
    height: 4px
}

[dir=rtl] #maia-signature:after, [dir=rtl] #maia-signature:before {
    float: left
}

#maia-signature:after, [dir=rtl] #maia-signature:before {
    /*border-left: 34px solid #0089fa;*/
    border-right: 35px solid #ff002b
}

#maia-signature:before, [dir=rtl] #maia-signature:after {
    border-left: 35px solid #ffa900;
    border-right: 34px solid #00a753
}

#maia-footer {
    background: #f5f5f5;
    clear: both
}

#maia-footer-global, #maia-footer-local {
    padding: 10px 15px
}

#maia-footer-global {
    border-top: 1px solid #eee;
    font-size: 12px;
    line-height: 2.19;
    list-style: none
}

#maia-footer-global ul {
    margin: 0
}

#maia-footer-global li {
    display: inline
}

#maia-footer-global li + li:before {
    content: "·";
    padding: 0 3px
}

* html #maia-footer-global li {
    margin: 0 13px 0 0
}

* + html #maia-footer-global li {
    margin: 0 13px 0 0
}

* + [dir=rtl] #maia-footer-global li {
    margin: 0 0 0 13px
}

#maia-footer-local {
    background: #f9f9f9;
    border-top: 1px solid #f5f5f5;
    min-height: 24px
}