@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
/*@import "compass/css3";*/

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    overflow-x: hidden;
}

html {
    height: 100%;
}

a {
    color: #C03035;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    color: #414b56;
}

h2 {
    font-size: 24px;
    color: #414b56;
}

h3 {
    font-size: 18px;
}

.overflow {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

/*********************************/
/******** material button ********/
/*********************************/
.mdl-button--accent.mdl-button--accent.mdl-button--fab, .mdl-button--accent.mdl-button--accent.mdl-button--raised {
    color: rgb(255, 255, 255);
    background-color: #d7223b;
}

#home-slider .mdl-button--accent.mdl-button--accent.mdl-button--fab, .mdl-button--accent.mdl-button--accent.mdl-button--raised {
    margin-top: 20px;
}

/*********************************/
.btn-common {
    font-size: 14px;
    color: #d7223b;
    border: 1px solid #d7223b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 25px;
}

#action .col-sm-5 {
    position: absolute;

    top: 0;
    height: 100%;
    right: 0;
}

.align-right {
    text-align: right;
}

.inline {
    display: inline-block;
}

.padding {
    padding: 65px 0;
}

.padding-bottom {
    padding-bottom: 65px;
}

.padding-top {
    padding-top: 90px;
}

.padding-right {
    padding-right: 80px;
}

.padding-left {
    padding-left: 80px;
}

.margin-bottom {
    margin-bottom: 35px;
}

/*************************
*******Header******
**************************/
#header {
    margin-bottom: 0;
    padding: 5px 80px 5px 80px;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    position: fixed;
    z-index: 100;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#header .navbar-inverse .container {
    position: relative;
}

#header .navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0;
}

#header .navbar-toggle {
    margin-top: 20px;
}

#header .navbar-brand {
    padding: 0;
    margin-left: 0;
}

#header .navbar-brand h1 {
    padding: 0;
    margin: 0;
}

#header .navbar-nav.navbar-right > li:last-child {
    margin-right: 20px;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*************************
**********Footer**********
**************************/
#footer {
    padding-bottom: 10px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}

#footer h1 {
    margin-bottom: 65px;
    margin-top: 36px;
}

#footer .bottom-separator {
    margin-bottom: 60px;
}

#message {
    height: 110px;
    resize: none;
}

.bottom > h2 {
    margin-top: 0;
    margin-bottom: 26px;
}

.bottom .media-body h3 {
    margin-top: 0;
    padding-left: 25px;
}

.bottom .media-body h3 a {
    color: #ea2c00;
}

.contact-info.bottom {
    padding-left: 25px;
}

.bottom > address {
    line-height: 22px;
    margin-bottom: 40px;
}

.form-control {
    border: 1px solid #eaeaea;
    font-weight: 300;
    outline: none;
    box-shadow: none;
    height: 40px;
}

.form-control:hover,
.form-control:focus {
    border-color: #4fcccd;
    outline: none;
    box-shadow: none;
}

.btn-submit {
    width: 100%;
    background-color: #d7223b;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 5px;
    border-bottom: 3px solid #d7223b;
    box-shadow: none;
    padding: 10px;
}

.btn-submit:hover,
.btn-submit:focus {
    color: #fff;
    outline: none;
    box-shadow: none;
    opacity: .8;
}

.copyright-text {
    margin-top: 70px;
    color: #414b56;
    font-size: 16px;
    padding-bottom: 15px;
}

.copyright-text a {
    color: #4d394b;
    font-weight: bold;
}

.copyright-text p {
    margin-bottom: 0;
}

/*************************
******* Home Page ********
**************************/
#home-slider {
    position: relative;
}

#home-slider .main-slider {
    position: relative;
    min-height: 400px;
    height: 100%;
}

#home-slider .slide-text {
    text-align: center;
    top: 50px;
    left: 0;
}

.animate-in .slide-text {
    -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 200ms both;
    animation: fadeInLeftBig 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 200ms both;
}

#home-slider h1 {
    margin-top: 50px;
    margin-bottom: 25px;
}

#home-slider .btn-common {
    margin-top: 20px;
}

#home-slider .preloader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: -30px;
    right: 0;
    background: #fafafa;
    text-align: center;
}

#home-slider .preloader > i {
    font-size: 48px;
    height: 48px;
    line-height: 48px;
    color: #d84b5f;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
}

#action {
    background-image: url(../images/home/gears.png);
    background-color: #fbfafa;
    background-repeat: repeat-x;
    height: 157px;
    background-position: center;
    display: table;
    position: static;
    width: 100%;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: static;
}

.action h1 {
    margin-top: 0;
}

.action p {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 300;
}

.action .btn-common {
    margin-top: 55px;
    float: left;
}

.title {
    color: #414b56;
    font-weight: 300;
}

#gitVid {
    padding-bottom: 45px;
}

.gitVid {
    margin-bottom: 45px;
    /*overflow: hidden;*/
}

.gitVid img {
    display: inline-block;
}

.gitVid-logo {
    /*overflow: hidden;*/
    margin-bottom: 10px;
}

/*************************
*******About Us Page******
**************************/

#action,
#page-breadcrumb {
    position: relative;
}

#page-breadcrumb {
    background-image: url(../images/home/gears.png);
    background-color: #fbfafa;
    background-repeat: repeat-x;
    height: 130px;
    background-position: center;
    display: table;
    position: static;
    width: 100%;
}

#team {
    padding: 85px 0;
}

#team-carousel {
    margin-top: 80px;
}

#company-information .padding-top {
    padding-top: 172px;

}

.single-service img {
    height: 85px;
}

.tour-button {
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0;
    background-position: 151px 4px;
}

.btnFloat {
    margin-top: 30px;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -ms-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.top-zero {
    margin-top: 0;
}

h3.top-zero {
    font-size: 20px;
}

#company-information .about-us h2 {
    margin-bottom: 45px;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/*************************
********404 page CSS******
**************************/
#error-page {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
    color: #686868;
    font-size: 18px;
    font-weight: 300;
    padding: 100px 0;
}

#error-page .container-fluid {
    overflow: hidden;
}

.error-page-inner {
    display: table-cell;
    vertical-align: middle;
}

.bg-404 {
    background-image: url("../images/home/gears.png");
    background-repeat: repeat-x;
    background-position: center top;
}

.error-image {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
}

.error-image img {
    width: 100%;
}

#error-page h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.btn-error {
    font-weight: 300;
    margin-top: 30px;
    padding: 25px 55px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
    background-color: transparent;
    border: 1px solid #cc9b59;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-error:hover, .btn-error:focus {
    background-color: #cc9b59;
    border-color: #cc9b59;
    color: #fff;
}

#error-page i, #coming-soon i {
    border: 1px solid #cc9b59;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #cc9b59;
    font-size: 17px;
    margin: 0 15px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#error-page i:hover, #coming-soon i:hover {
    background-color: #cc9b59;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*************************
********404 page CSS******
**************************/

#error-page {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
    color: #686868;
    font-size: 18px;
    font-weight: 300;
    padding: 100px 0;
}

#error-page .container-fluid {
    overflow: hidden;
}

.error-page-inner {
    display: table-cell;
    vertical-align: middle;
}

.bg-404 {
    background-image: url("../images/404-bg.png");
    background-repeat: repeat-x;
    background-position: center top;
}

.error-image {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
}

.error-image img {
    width: 100%;
}

#error-page h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.btn-error {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #4FCCCD;
    color: #797979;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 25px 53px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.btn-error:hover, .btn-error:focus {
    background-color: #4FCCCD;
    border-color: #4FCCCD;
    color: #fff;
}

#error-page i, #coming-soon i {
    border: 3px solid #cecece;
    height: 40px;
    width: 40px;
    line-height: 35px;
    color: #cecece;
    font-size: 17px;
    margin: 0 15px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#error-page i.fa-twitter:hover,
#coming-soon i.fa-twitter:hover,
#error-page i.fa-twitter:hover,
#coming-soon i.fa-twitter:hover,
#error-page i.fa-google-plus:hover,
#coming-soon i.fa-google-plus:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#error-page i.fa-facebook:hover,
#coming-soon i.fa-facebook:hover {
    background-color: transparent;
    color: #314A87;
    border-color: #314A87;
}

#error-page i.fa-twitter:hover,
#coming-soon i.fa-twitter:hover {
    background-color: transparent;
    color: #22BBF4;
    border-color: #22BBF4;
}

#error-page i.fa-google-plus:hover,
#coming-soon i.fa-google-plus:hover {
    background-color: transparent;
    color: #DD4C3B;
    border-color: #DD4C3B;
}

/*************************
**** Video / overlay  ****
**************************/
.videoBack {
    width: 100%;
    overflow: hidden;
}

.image {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.image img {
    /*width: 100%;*/
    vertical-align: top;
}

.image:after {
    /*content: '\A';*/
    content: attr(data-content);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding-top: 22.5%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 20px;
}

.image:hover:after {
    opacity: 1;
}

.OverlayIcon {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*************************
******* twenty/twenty *****
**************************/
.wrapper {
    /*display: flex;*/
    flex-flow: row wrap;
}

/* We tell all items to be 100% width */
.main, .nav, .aside {
    flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. nav
 * 3. main
 * 4. aside
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside {
        flex: 1 auto;
        align-self: center;
    }
    .main {
        flex: 1 700px;
    }
}

/* Large screens */
@media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars
     */
    .main {
        flex: 1 700px;
    }

    .aside-1 {
        order: 1;
        align-self: center;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
        align-self: center;
    }

    .footer {
        order: 4;
    }
}

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: left;
}

.aside-1 {
    text-align: right;
    font-size: 16px;
}

.aside-2 {
    text-align: left;
    font-size: 16px;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 1 600px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}

/***********************/
/*****  typed.js  ******/
/***********************/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 30px;
    color: #d2d6d9;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*********************************/
/**** homepage typing animation **/
/*********************************/
.jumbotron {
    border-bottom-style: solid;
    border-radius: 0px;
    border-width: 2px;
    background-color: transparent;
    /*color: #d2d6d9;*/
    color: #d7223b;
    width: 600px;
    padding: 1px 0px;
    margin: 0;
}

.element{
    display: inline;
}

.typedFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
}

.glyphicon {
    color: #414b56;
    font-size: 40px;
    align-self: flex-end;
    line-height: 0;
}

.headerLogo {
    height: 40px;
}

/*****************************/
/*********** Mobile **********/
/*****************************/
/* Small */
@media (max-width: 600px) {

    .subscribe-header {
        align-self: center;
        padding: 1px 0 0 0;
    }

    #header {
        margin: 0;
        padding: 0px 0px 0px 0px;
    }

    .navbar-header {
        /*display: inline-block;*/
    }

    .element{
        display: inline;
        font-size: 14px;
    }

    .jumbotron {
        padding: 2px 0px;
    }

    .glyphicon {
        font-size: 24px;
    }

    #home-slider .slide-text {
        margin-top: 26px;
    }

    .image:after {
        content: '\A';
    }

    .aside-1 {
        text-align: left;
        font-size: 16px;
    }

    .btnFloat {
        clear: both;
        position: relative;
        margin-top: 0px;
    }

    .action h1 {
        margin-top: 10%;
    }

    #footer {
        background: none;
    }

}